@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDF7F7;
  --foreground: #EEEEEE;
  --foregroundTwo: #F7F7F7;
  --textGold: #C5A266;
  --optionGray: #8E8E8E
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDF7F7;
    --foreground: #EEEEEE;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
